.raster {
  .container {
    position: relative;
    width: 50%;
  }

  .image {
    display: block;
    width: 60%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 30%;
    background-color: #008bbac4;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
  }

  .container:hover .overlay {
    width: 60%;
    left: 0%;
  }

  .text {
    white-space: nowrap;
    color: white;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
