body {
  font-family: "Lexend", serif;
  background-color: palegoldenrod;
  color: var(--text-color);
  text-rendering: geometricPrecision;
  font-weight: 300;
  line-height: 1.6;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #007bff;
}
p {
  text-align: justify;
}
.highlight {
  background-color: #e7f3fe;
  border-left: 5px solid #007bff;
  padding: 10px;
  margin: 20px 0;
}
